<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Ticket Machine Learning Prediction Model</title>


    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <!-- css -->
    <link rel="stylesheet" href="C:\Users\R\Desktop\LIVE ENVIRONMENT\final-year-project-Flight-Price-Machine-Learning-Prediction-Model\static\css\styles.css">


</head>

<body>

    <!-- As a heading -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">MAKERERE UNIVERSITY: Flight Ticket Machine Learning Prediction Model</a>
            </div>
        </div>
    </nav>

    <br><br><br>


    <div class="container">



        <form action="\predict" method="post">


            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Date of Departure</h5>
                            <!-- Departure -->
                            <input type="datetime-local" name="departure_time" id="departure_time" required="required">
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Date of Arrival</h5>
                            <!-- Arrival -->
                            <input type="datetime-local" name="arrival_time" id="arrival_time" required="required">
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h5 class="card-title">Travelling from (Source Country)</h5>
                            <select name="from_country" id="from_country" required="required">
                                <option value="Algeria">Algeria</option>
                                <!--<option value="Canada">Canada</option>
                                <option value="Chile">Chile</option>
                                <option value="China">China</option>
                                <option value="Columbia">Columbia</option>
                                <option value="Denmark">Denmark</option>
                                <option value="Dublin">Dublin</option>
                                <option value="Greece">Greece</option>
                                <option value="India">India</option>
                                <option value="Brazil">Brazil</option>-->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Travelling To (Destination Country)</h5>
                            <!-- Destination -->
                            <select name="dest_country" id="dest_country" required="required">
                               <!-- <option value="Australia">Australia</option>-->
                                <option value="Austria">Austria</option>
                                <option value="Belgium">Belgium</option>
                                <option value="Denmark">Denmark</option>
                                <option value="Canada">Canada</option>
                                <option value="Argentina">Argentina</option>
                               <!-- <option value="Brazil">Brazil</option>
                                <option value="China">China</option>
                                <option value="Columbia">Columbia</option>
                                <option value="Dublin">Dublin</option>
                                <option value="Egypt">Egypt</option>
                                <option value="France">France</option>
                                <option value="Germany">Germany</option>
                                <option value="India">India</option>
                                <option value="Kenya">Kenya</option>
                                <option value="Mexico">Mexico</option>
                                <option value="Morocco">Morocco</option>
                                <option value="Norway">Norway</option>
                                <option value="Panama">Panama</option>
                                <option value="Philippines">Philippines</option>
                                <option value="Portugal">Portugal</option>
                                <option value="Russia">Russia</option>
                                <option value="Spain">Spain</option>
                                <option value="Taiwan">Taiwan</option>
                                <option value="Turkey">Turkey</option>
                                <option value="United Kingdom">United Kingdom</option>
                                <option value="United States">United States</option>
                                <option value="Vietnam">Vietnam</option>
                                <option value="Zurich">Zurich</option>
                                <option value="Thailand">Thailand</option>-->
                            </select>
                        </div>
                    </div>
                </div>
            </div>



            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Number of Stops</h5>
                            <!-- Total Stops -->
                            <select name="stops" required="required">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Airline Name</h5>
                            <!-- Airline -->
                            <select name="airline_name" id="airline_name" required="required">
                                <option value="Air Canada">Air Canada</option>
                                <option value="Air Canada| United">Air Canada| United</option>
                                <option value="Air France<">Air France</option>
                                <option value="Air France| Aer Lingus">Air France| Aer Lingus</option>
                               <!-- <option value="Air France| Austrian">Air France| Austrian</option>
                                <option value="Air France| British Airways| LATAM">Air France| British Airways| LATAM</option>
                                <option value="Air France| Delta">Air France| Delta</option>
                                <option value="Air France| Delta| WestJet">Air France| Delta| WestJet</option>
                                <option value="Air France| Iberia| LATAM">Air France| Iberia| LATAM</option>
                                <option value="Air France| KLM">Air France| KLM</option>
                                <option value="Air France| LATAM">Air France| LATAM</option>
                                <option value="Air France| Lufthansa| LATAM">Air France| Lufthansa| LATAM</option>
                                <option value="Air France| United">Air France| United</option>
                                <option value="Air France| United| Air Canada">Air France| United| Air Canada</option>
                                <option value="Air France| WestJet">Air France| WestJet</option>
                                <option value="British Airways">British Airways</option>
                                <option value="British Airways| Air Canada">British Airways| Air Canada</option>
                                <option value="British Airways| Air France| LATAM">British Airways| Air France| LATAM</option>
                                <option value="British Airways| American| LATAM">British Airways| American| LATAM</option>
                                <option value="British Airways| Iberia| LATAM">British Airways| Iberia| LATAM</option>
                                <option value="British Airways| Iberia| LATAM| Paranair">British Airways| Iberia| LATAM| Paranair</option>
                                <option value="British Airways| LATAM">British Airways| LATAM</option>
                                <option value="British Airways| LATAM| Paranair">British Airways| LATAM| Paranair</option>
                                <option value="British Airways| Lufthansa| LATAM">British Airways| Lufthansa| LATAM</option>
                                <option value="British Airways| Lufthansa| LATAM| Aerolineas Argentinas">British Airways| Lufthansa| LATAM| Aerolineas Argentinas</option>
                                <option value="British Airways| SWISS| LATAM">British Airways| SWISS| LATAM</option>
                                <option value="British Airways| United">British Airways| United</option>
                                <option value="British Airways| United| Air Canada">British Airways| United| Air Canada</option>
                                <option value="EgyptAir">EgyptAir</option>
                                <option value="EgyptAir| Austrian">EgyptAir| Austrian</option>
                                <option value="ITA">ITA</option>
                                <option value="ITA| Air Canada">ITA| Air Canada</option>
                                <option value="ITA| American">ITA| American</option>
                                <option value="ITA| Austrian| Air Canada">ITA| Austrian| Air Canada</option>
                                <option value="ITA| British Airways| Air Canada">ITA| British Airways| Air Canada</option>
                                <option value="ITA| Lufthansa| Air Canada">ITA| Lufthansa| Air Canada</option>
                                <option value="ITA| Lufthansa| Austrian">ITA| Lufthansa| Austrian</option>
                                <option value="ITA| Lufthansa| Brussels Airlines">ITA| Lufthansa| Brussels Airlines</option>
                                <option value="ITA| Lufthansa| Gol| Aerolineas Argentinas">ITA| Lufthansa| Gol| Aerolineas Argentinas</option>
                                <option value="ITA| Lufthansa| LATAM">ITA| Lufthansa| LATAM</option>
                                <option value="ITA| Lufthansa| LATAM| Aerolineas Argentinas">ITA| Lufthansa| LATAM| Aerolineas Argentinas</option>
                                <option value="ITA| Lufthansa| SAS">ITA| Lufthansa| SAS</option>
                                <option value="ITA| SWISS| Air Canada">ITA| SWISS| Air Canada</option>
                                <option value="ITA| SWISS| LATAM">ITA| SWISS| LATAM</option>
                                <option value="ITA| United| Air Canada">ITA| United| Air Canada</option>
                                <option value="Iberia">Iberia</option>
                                <option value="Iberia| British Airways">Iberia| British Airways</option>
                                <option value="Iberia| LATAM">Iberia| LATAM</option>
                                <option value="Iberia| LATAM| Paranair">Iberia| LATAM| Paranair</option>
                                <option value="Lufthansa">Lufthansa</option>
                                <option value="Lufthansa| Air Canada">Lufthansa| Air Canada</option>
                                <option value="Lufthansa| American">Lufthansa| American</option>
                                <option value="Lufthansa| Austrian">Lufthansa| Austrian</option>
                                <option value="Lufthansa| Austrian| Air Canada">Lufthansa| Austrian| Air Canada</option>
                                <option value="Lufthansa| British Airways">Lufthansa| British Airways</option>
                                <option value="Lufthansa| British Airways| LATAM">Lufthansa| British Airways| LATAM</option>
                                <option value="Lufthansa| Brussels Airlines">Lufthansa| Brussels Airlines</option>
                                <option value="Lufthansa| Brussels Airlines| Austrian">Lufthansa| Brussels Airlines| Austrian</option>
                                <option value="Lufthansa| Croatia">Lufthansa| Croatia</option>
                                <option value="Lufthansa| Croatia| Austrian">Lufthansa| Croatia| Austrian</option>
                                <option value="Lufthansa| Eurowings">Lufthansa| Eurowings</option>
                                <option value="Lufthansa| Gol| Aerolineas Argentinas">Lufthansa| Gol| Aerolineas Argentinas</option>
                                <option value="Lufthansa| Iberia| LATAM">Lufthansa| Iberia| LATAM</option>
                                <option value="Lufthansa| Iberia| LATAM| Paranair">Lufthansa| Iberia| LATAM| Paranair</option>
                                <option value="Lufthansa| LATAM">Lufthansa| LATAM</option>
                                <option value="Lufthansa| LATAM| Aerolineas Argentinas">Lufthansa| LATAM| Aerolineas Argentinas</option>
                                <option value="Lufthansa| LATAM| Paranair">Lufthansa| LATAM| Paranair</option>
                                <option value="Lufthansa| LOT">Lufthansa| LOT</option>
                                <option value="Lufthansa| LOT| SAS">Lufthansa| LOT| SAS</option>
                                <option value="Lufthansa| SAS">Lufthansa| SAS</option>
                                <option value="Lufthansa| SWISS">Lufthansa| SWISS</option>
                                <option value="Lufthansa| SWISS| Air Canada">Lufthansa| SWISS| Air Canada</option>
                                <option value="Lufthansa| SWISS| Austrian">Lufthansa| SWISS| Austrian</option>
                                <option value="Lufthansa| SWISS| Brussels Airlines">Lufthansa| SWISS| Brussels Airlines</option>
                                <option value="Lufthansa| SWISS| LATAM">Lufthansa| SWISS| LATAM</option>
                                <option value="Lufthansa| United">Lufthansa| United</option>
                                <option value="Lufthansa| United| Air Canada">Lufthansa| United| Air Canada</option>
                                <option value="Tunisair">Tunisair</option>
                                <option value="Tunisair| Brussels Airlines">Tunisair| Brussels Airlines</option>
                                <option value="Tunisair| Lufthansa">Tunisair| Lufthansa</option>
                                <option value="Tunisair| SAS">Tunisair| SAS</option>
                                <option value="Turkish Airlines">Turkish Airlines</option>
                                <option value="Vueling">Vueling</option>
                                <option value="Vueling| LATAM">Vueling| LATAM</option>-->
                            </select>
                        </div>
                    </div>
                </div>
            </div>




            









            <br>
            <br>
            <br>
            
            <!-- Submit -->
            <input type="submit" value="Perdict Price" class="btn btn-secondary">
        </form>

        <br>
        <br>
        <h3>{{ prediction_text }}</h3>

        <br>
        <br>
        <p>© 2023 MAKERERE UNIVERSITY Flight Ticket Machine Learning Prediction Model</p>

    </div>




    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>
